.detail{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;

}
.body{
    background-color: lightgrey;
}
.footer{
    background-color: lightgrey;
}
.title{
    margin: auto;
}
.texto{
    margin: auto;
    font-size: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.precio{
    margin: auto;
}
.counter{
    margin: auto;
}