.card{
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
}
.card-body{
    background-color: gray;
    display: flex;
}
.card-info{
    margin-left: 85px;
}
.card-footer{
    background-color: gray;
}
.botones{
    margin-left: 110px;
}

img{
    height: 250px;
}