.navbar{
    display: flex;
    justify-content: space-between;
    height: 140px;
    background-color: rgb(238, 168, 38);
}
.logo{
    height: 150px;
    margin-left: 10px;
}
.cart{
    margin-top: 60px;
    margin-right: 20px;
}