*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.navbar{
    background-color: rgb(233, 137, 59);
    display: flex;
    height: 160px;
    width: 100%;
}
.dropdown{
    margin-left: 350px;
}
.logo-img{
    height: 180px;
}
.saludo{
    margin-left: 540px;
    margin-top: 50px;
}